.comments{
  position: relative;
  background: rgb(70, 70, 70);
  padding: 15px;
  margin-bottom: 20px;
  margin-top: 10px;
  border-radius: 15px;
}

.comments_name{
  display: inline-block;
  width: 50%;
  color: rgb(189, 189, 189);
  font-size: 15px;
}

.comments_date{
  display: inline-block;
  width: 50%;
  text-align: right;
  color: rgb(189, 189, 189);
  font-size: 15px;
  margin-bottom: 10px;
}

.comments_body{
  font-size: 17px;
  font-weight: 300;
  margin: 5px 5px 15px 5px;
  overflow-wrap: break-word;
  color: rgb(255, 255, 255);
}

.comments_like{
  display: inline-block;
  width: 80px;
  color: rgb(189, 189, 189);
  font-size: 15px;
  margin-bottom: 10px;
}

.comments_dislike{
  display: inline-block;
  width: 120px;
  color: rgb(189, 189, 189);
  font-size: 15px;
  margin-bottom: 10px;
}

.comments_reply{
  display: inline-block;
  width: 80px;
  color: rgb(189, 189, 189);
  font-size: 15px;
  margin-bottom: 10px;
}

.comments_write{
  display: inline-block;
  width: 49%;
  text-align: center;
  margin: 10px 0 0 0;
  color: rgb(189, 189, 189);
  border-right: 1px solid white;
  cursor: pointer;
}

.comments_delete{
  display: inline-block;
  width: 49%;
  text-align: center;
  margin: 10px 0 5px 0;
  color: rgb(189, 189, 189);
  cursor: pointer;
}

.writeReview_modal {
  position:fixed;
  background-color: rgb(191, 191, 191);
  width: 50%;
  max-height: 90%;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  padding: 10px;
  border-radius: 8px;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.writeReview_inside_model {
  background-color: white;
  width: 92%;
  max-height: 95%;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.125);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}
