* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  min-height: 100vh;
  background: #67a5d4;
}

.main_postings{
  margin: auto;
  margin-top: 30px;
}

.postings{
  position: relative;
  margin: auto;
  width: 500px;
  background: rgb(35, 35, 35);
  box-shadow: 0 50px 50px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin-bottom: 30px;
  margin-top: 30px;
  border-radius: 10px;
}

.postings_name{
  display: inline-block;
  width: 50%;
  color: rgb(155, 155, 155);
  font-size: 15px;
}

.postings_time{
  display: inline-block;
  width: 50%;
  text-align: right;
  color: rgb(155, 155, 155);
  font-size: 15px;
  margin-bottom: 20px;

}

.postings_title{
  font-size: 23px;
  font-weight: 700;
  margin-bottom: 25px;
  overflow-wrap: break-word;
  color: white;
}

.postings_body{
  font-size: 15px;
  font-weight: 300;
  margin: 15px 15px 30px 15px;
  overflow-wrap: break-word;
  color: white;
}

.postings_like{
  display: inline-block;
  width: 60px;
  color: rgb(155, 155, 155);
  font-size: 15px;
  margin-bottom: 10px;
}

.postings_comment{
  display: inline-block;
  width: 90px;
  color: rgb(155, 155, 155);
  font-size: 15px;
  margin-bottom: 10px;
}

.postings_write{
  display: inline-block;
  width: 60px;
  font-size: 15px;
  color: rgb(155, 155, 155);
  cursor: pointer;
}

.postings_delete{
  display: inline-block;
  width: 60px;
  font-size: 15px;
  color: rgb(155, 155, 155);
  cursor: pointer;
}

.main_write {
  margin: auto;
  padding: 25px;
  width: 490px;
  font-size: 18px;
  text-align: center;
  background: rgb(35, 35, 35);
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-weight: 500;
  border-radius: 100px;
  box-shadow: 0 50px 50px rgba(0, 0, 0, 0.2);
}

.main_write:hover {
  background-color: rgb(50, 50, 50);
  color: white;
  transition: .3s ease;
}

/* .posting_comments{
  max-height: 0;
  overflow: hidden;
  position: relative;
}

.posting_comments::before{
  position: absolute;
  width: .6rem;
  height: 90%;
  top: 50%;
}

.posting_comment::target .posting_comments{
  max-height: 20rem;
} */