* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #67a5d4;
}

.postings{
  border: 1px solid black;
  margin-bottom: 2px;
  padding: 5px;
}

.postings_name{
  display: inline-block;
  width: 50%;
}

.postings_time{
  display: inline-block;
  width: 50%;
  text-align: right;
}

.postings_like{
  display: inline-block;
  width: 60px;
}

.postings_comment{
  display: inline-block;
  width: 20%;
}